body
{
   background-size: cover;
   background-position: center;
}

.heading
{
    width: 100%;
    height: 8%;
    margin-top: 0px;
    font-size: xx-large;
    color: rgb(104, 155, 26);
    background-color: blanchedalmond;
}
a
{
    width: 200px;
    height: 50px;
}